Develop A Web Application Using Node-RED Service/Nodered Flow/Mufasarunisa M/nodered_flows.json
[{"id":"f467f201d4bdec78","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3d035e369a383879","type":"ibmiot in","z":"f467f201d4bdec78","authentication":"apiKey","apiKey":"a581b4a5eea68d06","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":100,"wires":[["343d2e80dcdb3951"]]},{"id":"343d2e80dcdb3951","type":"function","z":"f467f201d4bdec78","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set(\"latitude\", lat)\nglobal.set(\"longitude\", lon)\nglobal.set(\"name\", name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":100,"wires":[["299c822f1ee7ea74","f5e6cdbb062cb1c5"]]},{"id":"299c822f1ee7ea74","type":"function","z":"f467f201d4bdec78","name":"","func":"msg.payload = {\n    \"name\":global.get(\"name\"),\n    \"lat\":global.get(\"latitude\"),\n    \"lon\":global.get(\"longitude\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["63f3f7faef4d271c","6fa9b1c938e1015b","01ecb95a2f1abb46"]]},{"id":"e8725dadb7126781","type":"function","z":"f467f201d4bdec78","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["fce33ddad1bd966a"]]},{"id":"4cd0f895900d01d9","type":"switch","z":"f467f201d4bdec78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":340,"wires":[["1053e2ce731a0372","f7a5da5ce892ca07"],["571c4fab122d8b48"]]},{"id":"fce33ddad1bd966a","type":"rbe","z":"f467f201d4bdec78","name":"rbe","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":450,"y":280,"wires":[["4cd0f895900d01d9"]]},{"id":"1053e2ce731a0372","type":"function","z":"f467f201d4bdec78","name":"","func":"// Code added here will be run once\n// whenever the node is started.\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc +(3600000 * offset));\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get(\"name\"),\n    \"lat\":global.get(\"latitude\"),\n    \"lon\":global.get(\"longitude\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["e064e836ace67683"]]},{"id":"f7a5da5ce892ca07","type":"function","z":"f467f201d4bdec78","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc +(3600000 * offset));\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get(\"name\"),\n    \"lat\":global.get(\"latitude\"),\n    \"lon\":global.get(\"longitude\")\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["54e9319b0d260d14","ee7b73f88c021616"]]},{"id":"571c4fab122d8b48","type":"function","z":"f467f201d4bdec78","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc +(3600000 * offset));\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get(\"name\"),\n    \"lat\":global.get(\"latitude\"),\n    \"lon\":global.get(\"longitude\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":420,"wires":[["ee7b73f88c021616"]]},{"id":"ee7b73f88c021616","type":"debug","z":"f467f201d4bdec78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"54e9319b0d260d14","type":"cloudant out","z":"f467f201d4bdec78","name":"Cloud","cloudant":"","database":"child_location","service":"node-red-rvwbe-2022--cloudant-1667654034600-79178","payonly":true,"operation":"insert","x":670,"y":380,"wires":[]},{"id":"6fa9b1c938e1015b","type":"ui_worldmap","z":"f467f201d4bdec78","group":"158dd272cd88823d","order":0,"width":0,"height":0,"name":"","lat":"17.4219272","lon":"78.5488783","zoom":"15","layer":"EsriS","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"EsriS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":600,"y":160,"wires":[]},{"id":"e064e836ace67683","type":"ui_toast","z":"f467f201d4bdec78","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Child is out of range","name":"","x":670,"y":340,"wires":[[]]},{"id":"63f3f7faef4d271c","type":"geofence","z":"f467f201d4bdec78","name":"","mode":"circle","inside":"both","rad":428.3817664370093,"points":[],"centre":{"latitude":17.421061932054027,"longitude":78.54845076799393},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":360,"y":220,"wires":[["e8725dadb7126781"]]},{"id":"f5e6cdbb062cb1c5","type":"debug","z":"f467f201d4bdec78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"19e2c43c0d8b8321","type":"http in","z":"f467f201d4bdec78","name":"","url":"/childtracker","method":"get","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["299c822f1ee7ea74"]]},{"id":"01ecb95a2f1abb46","type":"http response","z":"f467f201d4bdec78","name":"","statusCode":"","headers":{},"x":610,"y":220,"wires":[]},{"id":"a581b4a5eea68d06","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"158dd272cd88823d","type":"ui_group","name":"Map","tab":"cc0fd4c8d6d36959","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cc0fd4c8d6d36959","type":"ui_tab","name":"Child Tracker","icon":"dashboard","disabled":false,"hidden":false}]